* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

container {
  width: 1135px;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.App {
  font-family: 'roboto';
  color: #505050;
}

.menu-list {
  padding: 25px 0;
  font-weight: 300;
}

.menu-list span {
  display: block;
  line-height: 21px;
}
